#about .wrap-kasou {
    background: url(../img/bg_about_right.png) no-repeat right 35%, url(../img/bg_about_left.png) no-repeat left 70%;
    background-color: #fff;
}

.shop-name {
    font-size: 2rem;
    @media screen and (max-width: 1200px) {
        font-weight: normal;
    }
}

.map {
    width: 100%;
    max-width: 1200px;
    height: 300px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
}

.shop2 {
    margin-top: 80px;
}

#about .lead {
    @media screen and (max-width: 768px) {
        height: auto;
    }
}
