#cafe .wrap-kasou {
    background: url(../img/bg_cafe_left.png) no-repeat left 30%, url(../img/bg_cafe_right.png) no-repeat right 55%, url(../img/bg_cafe_left.png) no-repeat left 80%;
    background-color: #fff;
    @media screen and (min-width: 1200px) {
        background: url(../img/bg_cafe_left.png) no-repeat left 35%, url(../img/bg_cafe_right.png) no-repeat right 55%, url(../img/bg_cafe_left.png) no-repeat left 85%;
        background-color: #fff;
    }
}

#cafe .main-contents {
    &-txtbox {
        p {
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.menu-categoly {
    margin: 35px 0;
    @media screen and (max-width: 1200px) {
        width:300px;
        margin: 35px auto;
    }
}

.menu-margin {
    margin-top: 35px;
}

.cafe-img {
    @media screen and (max-width: 1200px) {
        margin: 80px 0 20px 0;
        &-drink {
            margin: 30px 0 20px 0;
        }
    }
}
