@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  min-width: 320px;
  font-family: メイリオ, Meiryo, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 10px;
  color: #333;
  line-height: 1.5;
  background: url(../img/bg_footer.jpg) no-repeat center bottom/cover fixed; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.wrap {
  margin: 0 auto; }
  .wrap-home {
    background-color: #fff; }

.ttl-main,
.lead-sub-ttl,
.gnav-link {
  font-family: 'Sofia', cursive; }

a {
  display: block;
  text-decoration: none;
  text-align: center;
  vertical-align: middle; }

.header {
  position: relative;
  text-align: center;
  background-color: #fff; }
  .header-slide-img {
    width: 100%; }
  .header-logo {
    width: calc(150/320*100%);
    max-width: 250px;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto; }
    @media screen and (min-width: 768px) {
      .header-logo {
        width: calc(150/1200*100%);
        min-width: 180px;
        position: absolute;
        top: calc(60/1200*100%);
        left: 0;
        right: 0;
        margin: auto; } }

.slider {
  display: none; }

.slider.slick-initialized {
  display: block; }

.main-contents {
  padding: 50px 15px;
  font-size: 1.8rem;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .main-contents {
      padding: 80px 0; }
      .main-contents:first-child {
        padding: 160px 0 80px 0; } }
  @media screen and (min-width: 1200px) {
    .main-contents-inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      max-width: 1200px;
      padding: 60px 0;
      margin: 0 auto; } }
  .main-contents-txtbox {
    text-align: center; }
    @media screen and (min-width: 1200px) {
      .main-contents-txtbox {
        text-align: left;
        margin: 0 35px;
        font-weight: bold; } }
  .main-contents-txt {
    margin: 35px 0; }

br.none {
  display: none; }
  @media screen and (min-width: 768px) {
    br.none {
      display: block; } }

.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.pick-up-item {
  width: 150px;
  height: 150px;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 10px 5px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .pick-up-item {
      width: calc(300/1200*100%);
      min-width: calc(300/1200*100%);
      height: 300px;
      padding: 0;
      margin: 0; } }
  .pick-up-item-1 {
    background: url(../img/img_index_pic1.png) no-repeat center center/contain; }
    @media screen and (min-width: 768px) {
      .pick-up-item-1 {
        background-size: auto; } }
  .pick-up-item-2 {
    background: url(../img/img_index_pic2.png) no-repeat center center/contain; }
    @media screen and (min-width: 768px) {
      .pick-up-item-2 {
        background-size: auto; } }
  .pick-up-item-3 {
    background: url(../img/img_index_pic3.png) no-repeat center center/contain; }
    @media screen and (min-width: 768px) {
      .pick-up-item-3 {
        background-size: auto; } }
  .pick-up-item-4 {
    background: url(../img/img_index_pic4.png) no-repeat center center/contain; }
    @media screen and (min-width: 768px) {
      .pick-up-item-4 {
        background-size: auto; } }

.pick-up-txt {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0; }
  @media screen and (min-width: 768px) {
    .pick-up-txt {
      bottom: 40px;
      left: 10px; } }

@media screen and (min-width: 768px) {
  .pick-up-txt.dolce {
    position: absolute;
    left: -20px; } }

.main-contents-inner.pick-up-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (min-width: 768px) {
    .main-contents-inner.pick-up-box {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      margin: 0 auto;
      padding: 0; } }

.bg-line {
  vertical-align: middle; }

.footer {
  text-align: center;
  padding: 50px 15px; }
  @media screen and (min-width: 768px) {
    .footer {
      text-align: right; } }
  .footer-copyrights {
    font-size: 1.6rem;
    color: #fff;
    margin: 50px 0; }
    @media screen and (min-width: 768px) {
      .footer-copyrights {
        margin: 80px 0 0; } }

.lead {
  width: 100%;
  height: 100vh;
  color: #fff;
  padding: 20% 20px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .lead {
      padding: 10% 50px 0 0;
      text-align: right; } }
  .lead-about {
    background: url("../img/bg_lead_about.jpg") no-repeat center center/cover; }
  .lead-cafe {
    background: url("../img/bg_lead_cafe.jpg") no-repeat center center/cover; }
  .lead-dolce {
    background: url("../img/bg_lead_dolce.jpg") no-repeat center center/cover; }
  .lead-txt {
    margin: 35px 0;
    font-size: 1.6rem;
    font-weight: bold; }
    .lead-txt br {
      display: none; }
      @media screen and (min-width: 768px) {
        .lead-txt br {
          display: block;
          font-size: 1.8rem; } }

.icon-scr {
  width: 100px;
  height: auto;
  -webkit-animation: anime-jump 0.9s infinite;
  animation: anime-jump 0.9s infinite; }

@-webkit-keyframes anime-jump {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes anime-jump {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

.gnav {
  margin: 40px 0 0 0; }
  .gnav-link {
    font-size: 3rem;
    line-height: 70px;
    color: #fff; }
  @media screen and (min-width: 768px) {
    .gnav-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .gnav-link {
      width: auto;
      padding: 0 20px; } }
  @media screen and (max-width: 768px) {
    .gnav-header {
      display: none !important; } }
  @media screen and (min-width: 768px) {
    .gnav-header {
      display: block !important;
      position: absolute;
      top: calc(300/1200*100%);
      left: 0;
      right: 0;
      margin: auto; } }
  @media screen and (min-width: 1200px) {
    .gnav-header {
      position: absolute;
      top: calc(260/1200*100%);
      left: 0;
      right: 0;
      margin: auto; } }
  .gnav-footer-list {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .gnav-320 {
    display: none; }
    @media screen and (max-width: 768px) {
      .gnav-320 {
        display: none;
        margin: 0; }
        .gnav-320-link {
          color: #333;
          background-color: #81d8d0; }
          .gnav-320-link:hover {
            background-color: #fff;
            border-bottom: 1px solid #81d8d0;
            color: #ff4242; } }

#about .current,
#cafe .current,
#dolce .current,
#contact .current {
  color: #ff4242; }

.btn-index-menu320 {
  position: absolute;
  top: 20px;
  right: 20px; }

.bn-footer-hkd-dolce-link {
  display: block;
  width: 274px;
  height: 52px;
  text-indent: -9999px;
  background: url(../img/logo_hkd_dolce.png) no-repeat center center;
  margin: 50px auto 0 auto; }
  @media screen and (min-width: 768px) {
    .bn-footer-hkd-dolce-link {
      margin-right: 0; } }

.btn-index-kochira-link {
  display: block;
  text-indent: -9999px;
  width: 195px;
  height: 55px;
  background: url(../img/btn_index_kochira.png) no-repeat center center; }
  @media screen and (max-width: 1200px) {
    .btn-index-kochira-link {
      margin: 0 auto; } }

.btn-index-kochira-link.shop {
  margin: 0 auto; }

.bt-hover-rotate {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .bt-hover-rotate:hover {
    -webkit-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg); }

.bt-hover-opacity {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .bt-hover-opacity:hover {
    opacity: .5; }

.bt-hover-color {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .bt-hover-color:hover {
    color: #ff4242; }

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px; }
  @media screen and (min-width: 768px) {
    .menu-trigger {
      display: none; } }

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px; }

.menu-trigger span:nth-of-type(1) {
  top: 0; }

.menu-trigger span:nth-of-type(2) {
  top: 20px; }

.menu-trigger span:nth-of-type(3) {
  bottom: 0; }

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  -ms-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg); }

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0; }

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  -ms-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg); }

.js-inview {
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0); }

.show {
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1); }

.js-inview-slide {
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
  opacity: 0; }

.js-inview-header {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
  opacity: 0; }

.show-fade {
  opacity: 1; }

.js-show-drop {
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  transform: translateX(-40px);
  opacity: 0; }

.show-drop2 {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.js-show-drop-re {
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0; }

.show-drop-re2 {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.ttl-main {
  font-size: 4.8rem;
  margin-bottom: 20px; }

.lead-sub-ttl {
  font-size: 4.8rem; }
  @media screen and (min-width: 768px) {
    .lead-sub-ttl {
      font-size: 10rem;
      margin-bottom: 50px; } }

.border {
  font-weight: bold;
  border-bottom: 5px solid #81d8d0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

@media screen and (min-width: 768px) {
  .shopdate-item {
    margin: 0 30px; } }

.main-contents-inner.shopdate {
  padding: 30px 0; }

.bg-3 {
  background: url(../img/bg_index_about.png) no-repeat -30px center; }
  @media screen and (min-width: 768px) {
    .bg-3 {
      margin: 0 auto;
      background: url(../img/bg_index_about.png) no-repeat center center; } }

.bg-4 {
  background: url(../img/bg_index_cafe.png) no-repeat -30px center; }
  @media screen and (min-width: 768px) {
    .bg-4 {
      margin: 0 auto;
      background: url(../img/bg_index_cafe.png) no-repeat center center; } }

.bg-0 {
  background: url(../img/bg_index_dolce.png) no-repeat -30px center; }
  @media screen and (min-width: 768px) {
    .bg-0 {
      margin: 0 auto;
      background: url(../img/bg_index_dolce.png) no-repeat center center; } }

#about .wrap-kasou {
  background: url(../img/bg_about_right.png) no-repeat right 35%, url(../img/bg_about_left.png) no-repeat left 70%;
  background-color: #fff; }

.shop-name {
  font-size: 2rem; }
  @media screen and (max-width: 1200px) {
    .shop-name {
      font-weight: normal; } }

.map {
  width: 100%;
  max-width: 1200px;
  height: 300px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .map {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 15px; } }

.shop2 {
  margin-top: 80px; }

@media screen and (max-width: 768px) {
  #about .lead {
    height: auto; } }

#cafe .wrap-kasou {
  background: url(../img/bg_cafe_left.png) no-repeat left 30%, url(../img/bg_cafe_right.png) no-repeat right 55%, url(../img/bg_cafe_left.png) no-repeat left 80%;
  background-color: #fff; }
  @media screen and (min-width: 1200px) {
    #cafe .wrap-kasou {
      background: url(../img/bg_cafe_left.png) no-repeat left 35%, url(../img/bg_cafe_right.png) no-repeat right 55%, url(../img/bg_cafe_left.png) no-repeat left 85%;
      background-color: #fff; } }

#cafe .main-contents-txtbox p:first-child {
  margin-top: 0; }

.menu-categoly {
  margin: 35px 0; }
  @media screen and (max-width: 1200px) {
    .menu-categoly {
      width: 300px;
      margin: 35px auto; } }

.menu-margin {
  margin-top: 35px; }

@media screen and (max-width: 1200px) {
  .cafe-img {
    margin: 80px 0 20px 0; }
    .cafe-img-drink {
      margin: 30px 0 20px 0; } }

#dolce .wrap-kasou {
  background: url(../img/bg_dolce_right.png) no-repeat right 40%, url(../img/bg_dolce_left.png) no-repeat left 80%;
  background-color: #fff; }

#dolce .main-contents.dolce {
  padding-right: 0; }

#dolce .main-contents-inner.bg {
  margin: 50px auto;
  padding-right: 15px;
  width: 100%;
  height: 300px;
  position: relative; }
  #dolce .main-contents-inner.bg-1 {
    background: url(../img/img_dolce_1.png) no-repeat center center; }
    @media screen and (max-width: 768px) {
      #dolce .main-contents-inner.bg-1 {
        background: url(../img/img_dolce_1.png) no-repeat left center; } }
  #dolce .main-contents-inner.bg-2 {
    background: url(../img/img_dolce_2.png) no-repeat center center; }
    @media screen and (max-width: 768px) {
      #dolce .main-contents-inner.bg-2 {
        background: url(../img/img_dolce_2.png) no-repeat left center; } }
  #dolce .main-contents-inner.bg-3 {
    background: url(../img/img_dolce_3.png) no-repeat center center; }
    @media screen and (max-width: 768px) {
      #dolce .main-contents-inner.bg-3 {
        background: url(../img/img_dolce_3.png) no-repeat left center; } }

#dolce .main-contents-txtbox {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px #333; }
  @media screen and (max-width: 768px) {
    #dolce .main-contents-txtbox {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin: auto; } }
  @media screen and (min-width: 768px) {
    #dolce .main-contents-txtbox {
      text-align: left;
      position: absolute;
      right: 15px;
      bottom: 15px; } }
  @media screen and (min-width: 768px) {
    #dolce .main-contents-txtbox-re {
      position: absolute;
      left: 15px;
      bottom: 15px; } }

#dolce p.menu-categoly {
  margin-top: 0; }
  @media screen and (min-width: 768px) {
    #dolce p.menu-categoly {
      margin-left: 0;
      width: 300px; } }

#contact {
  background: url(../img/bg_contact.png) no-repeat center 60%; }
  @media screen and (min-width: 768px) {
    #contact {
      background: url(../img/bg_contact.png) no-repeat center 60%/contain; } }

dt.border {
  font-weight: normal; }

.form {
  font-weight: bold;
  max-width: 1200px;
  margin: 0 auto; }
  .form-caption {
    width: 100%; }
  @media screen and (min-width: 768px) {
    .form-list {
      margin-top: 35px; } }
  .form-item {
    width: calc(150/320*100%);
    margin: 50px auto 0 auto; }
    @media screen and (min-width: 768px) {
      .form-item {
        width: calc(200/1200*100%);
        text-align: right;
        margin: 0 20px 0 0;
        padding: 5px 15px 15px; } }
    .form-item-dd {
      margin-top: 10px; }
      @media screen and (min-width: 768px) {
        .form-item-dd {
          width: calc(500/1200*100%);
          text-align: left;
          margin: 0; } }
  @media screen and (min-width: 768px) {
    .form-flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 15px; } }

input[type="text"],
[type="email"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #81d8d0;
  border-radius: 15px;
  font-size: 1.6rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  input[type="text"]:hover,
  [type="email"]:hover {
    background-color: rgba(255, 66, 66, 0.5); }

input[type="radio"] {
  margin-bottom: 5px; }

#comment {
  font-family: メイリオ, Meiryo, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  width: 100%;
  height: 300px;
  padding: 10px;
  border: none;
  background-color: #81d8d0;
  border-radius: 15px;
  font-size: 1.6rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  #comment:hover {
    background-color: rgba(255, 66, 66, 0.5); }

input[type="reset"],
[type="submit"] {
  width: 150px;
  height: 50px;
  background-color: #81d8d0;
  border: none;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 5px;
  color: #fff;
  margin-top: 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  input[type="reset"]:hover,
  [type="submit"]:hover {
    background-color: #ff4242; }
  @media screen and (min-width: 768px) {
    input[type="reset"],
    [type="submit"] {
      margin: 0 10px; } }
