#cafe .wrap-kasou {
    background: url(../img/bg_cafe_left.png) no-repeat left 70%, url(../img/bg_cafe_right.png) no-repeat right 70%;
    background-color: #fff;
}

#cafe .main-contents {
    &-txtbox {
        p {
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.cafe-img {
    width: calc(300/320*100%);
    max-width: 450px;
    height: auto;
    margin: 50px 0 20px 0;
    @media screen and (min-width: 768px) {
        margin: 0;
        width: 450px;
        height: 300px;
    }
}

.menu-categoly {
    margin: 35px 0;
    font-weight: bold;
    border-bottom: 5px solid $tc;
}

.menu-margin {
    margin-top: 35px;
}
