//js-inview-------------------------------
.js-inview {
    transition: .8s;
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
}

.anime {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}

//bg-------------------------------------
.bg-3 {
    background: url(../img/bg_index_about.png) no-repeat -30px center;
}

.bg-4 {
    background: url(../img/bg_index_cafe.png) no-repeat -30px center;
}

.bg-0 {
    background: url(../img/bg_index_dolce.png) no-repeat -30px center;
}
