$fc:#333;
$fc2:#fff;
$hc:#ff4242;
$hc50:rgba(255, 66, 66, .5);
$tc:#81d8d0;
%cf {
    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
